
[Everquest]

# configure location of the everquest log files
BASE_DIRECTORY = c:\Everquest
LOGS_DIRECTORY = \logs\

# which server
SERVER_NAME = P1999Green

# Max number of seconds of logfile inactivity before a check is made to see if a new file is being written to
HEARTBEAT = 15


[DeathLoop]

# parameters that define a deathloop, i.e. X deaths in Y seconds, with no proof-of-life indication in the interim
DEATHS = 4
SECONDS = 120
